.Rhistory
*.pyc
*/*.pyc
__pycache__
*/__pycache__
Impulse/*
Noise/*
NoiseCut*
DAE-test/*
runs/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
SourceImpulses/*
cache/*
*.h5
*.wav
*.png
DAE-libri/*
*.pkl
tf_logs/*